h1 { font-family: VT323; font-size: 24px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 26.4px; } h3 { font-family: VT323; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: VT323; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: VT323; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: VT323; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

body{
    margin: 0;
    padding: 0;
    font-family: 'VT323';
}
//global statements
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
a{
    text-decoration: none;
}



// Login data
label{
    display: block;
    margin-top: 30px;
    font-size: 16px;
    font-weight: 500;
}

form{
    height: 520px;
    width: 400px;
    background-color: rgba(255,255,255,0.13);
    position: absolute;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    border: 2px solid rgba(255,255,255,0.1);
    box-shadow: 0 0 40px rgba(8,7,16,0.6);
    padding: 50px 35px;
}

form *{
    font-family: 'Poppins',sans-serif;
    color: #ffffff;
    letter-spacing: 0.5px;
    outline: none;
    border: none;
}
input{
    display: block;
    height: 50px;
    width: 100%;
    background-color: rgba(255,255,255,0.07);
    border-radius: 3px;
    padding: 0 10px;
    margin-top: 8px;
    font-size: 14px;
    font-weight: 300;
}
::placeholder{
    color: #e5e5e5;
}
button{
    margin-top: 50px;
    width: 100%;
    background-color: #ffffff;
    color: #080710;
    padding: 15px 0;
    font-size: 18px;
    font-weight: 600;
    border-radius: 5px;
    cursor: pointer;
}
//

//Main area

//upper menu
.infos{
    ul{
        display: flex;
        justify-content: space-around;
        list-style: none;
    }

}

//content
.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    background-color: antiquewhite;
    .hp-bar{
        margin: 20px;
        padding: 20px;
        width: 850px;
        background-color: #4e4a4e;
        border: 5px solid #d27d2c;
        outline: 2px dotted #854c30;
        box-shadow: 1px 2px 2px 2px #382014;
        ul{
            display: flex;
            justify-content: center;
            li{
                margin-left: 60px;
                font-size: 1.5rem;
                color:white;
            }
        }
    }
    .main{
        width: 900px;
        display: flex;
        justify-content: center;
        .navbar{
            width: 200px;
            padding: 20px;
            text-align: left;
            color: white;
            background-color: #4e4a4e;
            border: 5px solid #d27d2c;
            outline: 2px dotted #854c30;
            box-shadow: 1px 2px 2px 2px #382014;
            li{
                font-size: 1.5rem;
                transition: 0.2s;
                padding: 15px 30px 15px 30px;
                margin: 15px 0px 0px 0px;
                background-color: #854c30;
                box-shadow: 1px 2px 2px 2px #382014;
                &:hover{
                    background-color: #d27d2c;
                    box-shadow: 1px 2px 2px 2px #854f1b;
                }
            }
            
        }
        .menu {
            margin-left: 20px;
            width: 700px;
            padding: 20px;
            background-color: #4e4a4e;
            border: 5px solid #d27d2c;
            outline: 2px dotted #854c30;
            box-shadow: 1px 2px 2px 2px #382014;
            color: white;
        }
    }
}