@charset "UTF-8";
body {
  background-color: #ebecf1;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  overflow-x: hidden;
}

.navbar {
  width: 100%;
  font-weight: 600;
  text-decoration: none;
  display: flex;
  justify-content: center;
  box-shadow: 0px 5px 5px 5px rgba(0, 0, 0, 0.37);
}
.navbar a {
  text-decoration: none;
  color: rgb(115, 48, 177);
}
.navbar a:hover {
  color: rgb(154, 87, 218);
}

.header {
  animation: fadein 2s;
  padding-top: 3%;
  text-align: center;
  display: block;
  background-image: url("baner_v2.jpg");
  background-size: cover;
  min-height: 43vw;
}
.header h3 {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.columns {
  padding-top: 5%;
  background-color: rgb(255, 255, 255);
  text-align: center;
}
.columns h3 {
  font-size: 1vw;
}
.columns h2 {
  font-size: 2vw;
  margin-top: 0;
}
.columns img {
  margin-top: 4%;
  width: 10vw;
}
.columns .row {
  margin-top: 4%;
  align-content: center;
}
.columns .row .col-md {
  animation: fadein 2s;
}
.columns .row .text {
  margin-bottom: 3%;
}

.granat {
  background-color: rgb(174, 111, 233);
  height: 10%;
  padding-top: 3%;
  color: white;
  text-align: left;
}

.filtr {
  margin-top: 5%;
}
.filtr .opis img {
  width: 500px;
}
.filtr .opis_2 {
  padding-top: 5%;
}
.filtr .opis_2 h2 {
  margin-bottom: 4%;
}
.filtr .opis_2 input {
  margin-left: 30px;
  margin-bottom: 3%;
}

.pochlaniacz {
  margin-top: 5%;
}
.pochlaniacz .opis img {
  height: 500px;
}
.pochlaniacz .opis_2 {
  margin-top: 5%;
}
.pochlaniacz .opis_2 h2 {
  margin-bottom: 4%;
}
.pochlaniacz .opis_2 input {
  margin-left: 30px;
  margin-bottom: 3%;
}

.parallax {
  margin-top: 5%;
  background-image: url("hc_baner.jpg");
  /* Wysokość */
  min-height: 300px;
  /*paralaxa*/
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.stopka {
  list-style: none;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
.fala {
  margin-top: -100px;
}

.fiolet {
  padding-top: 5%;
  padding-bottom: 5%;
  min-height: 800px;
}

.odstep {
  margin-bottom: 20px;
}

.odstep-lewo {
  margin-left: 20px;
}

.col-6 {
  text-align: center;
}
.col-6 img {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.cien-bialy {
  background-color: white;
  box-shadow: 3px 3px 3px rgb(126, 126, 126);
}

.header_2 {
  padding-top: -100px;
  display: block;
  background-image: url("baner_nowy.jpg");
  height: 900px;
}

.przerywnik {
  margin-top: 5%;
  margin-left: auto;
  margin-right: auto;
  align-content: center;
  text-align: center;
}

hr {
  width: 400px;
  border: 0;
  height: 1px;
  background: #333;
}

body::-webkit-scrollbar {
  width: 15px;
  /* width of the entire scrollbar */
}

body::-webkit-scrollbar-track {
  background: rgb(255, 255, 255);
  /* color of the tracking area */
}

body::-webkit-scrollbar-thumb {
  background-color: rgba(224, 145, 255, 0.76);
  /* color of the scroll thumb */
  border-radius: 20px;
  /* roundness of the scroll thumb */
  border: 3px solid rgb(255, 255, 255);
  /* creates padding around scroll thumb */
}

.szare {
  background-color: rgb(250, 250, 250);
}/*# sourceMappingURL=style.css.map */